<h2>Le panier</h2>

<table class="col-6">
  <thead>
    <tr></tr>
      <td>Name</td>
      <td>Size</td>
      <td>Price</td>
    <td>Quantité</td>

    <td>Sous-total variable</td>
    <tr></tr>
  </thead>

  <tbody>
    <tr *ngFor="let short of panier">
      <td>{{short.name}}</td>
      <td>{{short.size}}</td>
      <td>{{short.price}} €</td>
      <td>
        <select class="form-select">
          <option selected>Quantité</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
      </select></td>
      <td> €</td>


      <td><button (click)="enleveDuPanier(short)" class="btn bg-danger">Retirer</button></td>
    </tr>


  <tr>
      <td></td><td></td><td>Total : {{calculeLeTotalEtDonneLeMoi()}} € </td>
  </tr>
  </tbody>
</table>

