<h2>Le panier</h2>

<table class="col-6">
  <thead>
    <tr></tr>
      <th>Name</th>
      <th>Size</th>
      <th>price</th>
      <th>Quantité</th>

    <tr></tr>
  </thead>

  <tbody>
    <tr *ngFor="let short of panier">
      <td>{{short.name}}</td>
      <td>{{short.size}}</td>
      <td>{{short.price}} €</td>
      <td><button (click)="enleveDuPanier(short)" class="btn bg-danger">Retirer</button></td>
    </tr>


  <tr>
      <td></td><td></td><td>Total : {{calculeLeTotalEtDonneLeMoi()}} € </td>
  </tr>
  </tbody>
</table>

