<p>boutique de shorts!</p>
<a routerLink="/new-short" class="btn btn-primary">Créer</a>





<div class="row"*ngFor="let short of lesShorts">

    <div>

      <p><strong>Modèle : {{ short.name }}</strong></p>
      <p><strong>Taille : {{ short.size }}</strong></p>
      <p><strong>Couleur : {{ short.color }}</strong></p>
      <p><strong>Prix : {{ short.price }} €</strong></p>
      <p><strong>id : {{ short.id }}</strong></p>

        <div class="col-4">
          <button class="btn bg-danger"(click)="deleteShort(short.id)">Supprimer</button>

          <a (click)="ajouteLesArticlesDansLePanier(short)" class="btn bg-success">Ajoute au panier</a>

        </div>

    </div>

</div>

