<p>boutique de shorts!</p>
<a routerLink="/new-short" class="btn btn-primary">Créer</a>


<div class="row"*ngFor="let short of lesShorts">


  <p><strong>Modèle : {{ short.name }}</strong></p>
  <p><strong>Taille : {{ short.size }}</strong></p>
  <p><strong>Couleur : {{ short.color }}</strong></p>
  <p><strong>id : {{ short.id }}</strong></p>

  <div class="col-4">
      <button class="btn bg-danger"(click)="deleteShort(short.id)">Supprimer</button>

    <button class="btn btn-success"> Ajoutez au panier</button>
  </div>

</div>

