<h1>créer un nouveau short Angular</h1>

<a routerLink="boutique" class="btn-primary">Retour aux shorts</a>
<form>

  <div class="col-3">
    <input placeholder="Nom de votre short" name="name"  type="text" #name>
  </div>

  <div class="col-3">
    <input placeholder="Taille de votre short" name="size"  type="text" #size>
  </div>

  <div class="col-3">
    <input placeholder="Couleur de votre short" name="color"  type="text" #color>
  </div>
  <div class="col-3">
    <input placeholder="Prix de votre short" name="price" type="number" #price>
  </div>


  <a routerLink ="new-short" class="btn-primary">Créer ce short</a>



  <div class="form-group">
    <button type="submit" (click)="createShort(name.value, color.value, size.value, price.value)" class="btn btn-primary">Créer ce short</button>
  </div>
</form>

